<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartanimal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".AirActivity"
            android:exported="false" />
        <activity
            android:name=".RelayActivity"
            android:exported="false" />
        <activity
            android:name=".HumidityActivity"
            android:exported="false" />
        <activity
            android:name=".TempActivity"
            android:exported="false" />
        <activity
            android:name=".DataActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ResourceActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ObjectActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>